[submodule "assimp"]
	path = external/assimp
	url = https://github.com/CatDogEngine/assimp
	branch = master
[submodule "rapidxml"]
	path = external/rapidxml
	url = https://github.com/CatDogEngine/rapidxml
	branch = master
[submodule "stb"]
	path = external/stb
	url = https://github.com/CatDogEngine/stb.git
