[submodule "assimp"]
	path = external/assimp
	url = https://github.com/CatDogEngine/assimp
	branch = master
[submodule "rapidxml"]
	path = external/rapidxml
	url = https://github.com/CatDogEngine/rapidxml
	branch = master
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/CatDogEngine/stb.git
	branch = master
[submodule "auto/premake-findfbx"]
	path = auto/premake-findfbx
	url = https://github.com/CatDogEngine/premake-findfbx.git
